/** Global */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: 'VT323', monospace;
    color: #ffffff;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

a::before {
    content: '> ';
}

a:link:not(.active) {
    color: #33bb00;
}

a:visited:not(.active) {
    color: #33bb00;
}

a:hover:not(.active) {
    color: #33ff00;
}

a:active:not(.active) {
    color: #33ff00;
}

label {
    color: #33ff00;
}

fieldset {
    border: none;
    margin-top: 2vh;
}

form fieldset:last-child {
    margin-top: 4vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #33ff00 !important;
    box-shadow: 0 0 0 30px #000000 inset !important;
    -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
    caret-color: #33ff00 !important;
}

input[type='email'],
input[type='text'],
input[type='password'] {
    padding: 0.5rem;
    width: 33%;
    background-color: #000000;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    color: #33ff00;
}
input[type='email']::placeholder,
input[type='text']::placeholder,
input[type='password']::placeholder {
    color: #33bb00;
}
input[type='email']:focus,
input[type='text']:focus,
input[type='password']:focus {
    outline-color: #33ff00;
}

button {
    padding: 0;
    background-color: #000000;
    border: none;
    color: #33bb00;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    text-transform: lowercase;
    cursor: pointer;
}

button:hover {
    color: #33ff00;
}

button:before {
    content: '>> ';
}

button:not(:first-child) {
    margin-left: 1rem;
}

.active {
    color: #33ff00;
}
