body {
    font-size: 4.5rem;
    color: #33ff00;
    text-transform: uppercase;
    font-weight: normal;
    height: 16vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
